*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
body{
    background-color: #151e3d;
}

.container1{
    width: 100%;
    height: 12vh;
    background-color: #151e3d;
    padding: 0 20px;
}
.container2{
    min-width: 99vw;
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}
.bg-image{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0, 0.6)),
    url(../images/thumb-1920-1052293.jpg)
}
.bg-image1{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0, 0.6)),
    url(../images/High_resolution_wallpaper_background_ID_77700882441.jpg);
}
.bg-image2{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0, 0.6)),
    url(../images/1082090.jpg);
}
.bg-image3{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0, 0.6)),
    url(../images/a294b593769b6bf61b55c152032e7459.jpg);
}
.bg-image4{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0, 0.6)),
    url(../images/903580.png);
}
a{
    color: #DAC8B3;
    font-size: 3vmin;
}